*{
    margin: 0%;
    padding: 0%;
  }
  .main-comp{
    background-color:white;
    width: auto;
    height: 900px;
  }
  .logo {
    display: flex;
    justify-content: center;
    height: 90px;
  }
  .logo img{
    padding-left: 20px;
    padding-top: 49px;
    width: 80px;
    height: 80px;
  }
  .log-form{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .logs{
    opacity: 0.8;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(200, 204, 228); */
    background-color: rgb(200, 204, 228);
    width: 350px;
    border-radius: 16px;
    height: 420px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  }
  .logs span{
    font-size: 23px;
    font-family:cursive;
  }
  .logss{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 204, 228);
    width: 355px;
    border-radius: 20px;
    height: 360px;
    opacity: 0.8;
    display: flex;
  }
  .logss span{
    font-size: 26px;
    font-family:cursive;
  }
  .logsss{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 204, 228);
    width: 355px;
    border-radius: 20px;
    height: 230px;
    opacity: 0.8;
    display: flex;
  }
  .logsss span{
    margin-left: 90px;
    font-family: cursive;
    font-size: 19px;
  }
  .log{
    color:cornflowerblue;
    font-weight: 600;
    padding-top: 30px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 140px;
  }
  .log span{
     color:rgb(236, 239, 243);
  }
  .icon{
    padding-top: 18px;
    margin-top: 14px;
    margin-left: 10px;
    transform: scale(1.2);
    color:cornflowerblue;
  
  }
  .account{
    margin-top: 50px;
    margin-left: 40px;
    transform: scale(1.4);
    color:cornflowerblue;
  }
  .form{
    display: flex;
    flex-direction: row;
  }
  .form input{
    color: rgb(17, 42, 75);
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 49px;
    margin-left: 30px;
    height: 28px;
    width: 205px;
    border: none;
    outline: none;
    background-color:white;
  }
  .bottom-sec{
    align-items: center;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .term{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(43, 89, 173);
    font-size: 19px;
  }
  .terms{
    font-family: Arial, Helvetica, sans-serif;
    color:cornflowerblue;
    font-size: 17px;
  }
  .sign{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0px;
    width: 360px;
    height: 100px; 
  }
  .sign button{
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    background-color:cornflowerblue;
    text-decoration: none;
    width: 220px;
    font-size: 17px;
    color: white;
    padding-top: 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    height: 25px;
    border-radius: 8px;
  }
  .sign button:hover{
    background-color: rgb(78, 235, 78);
  }
  .forgot{
    text-decoration: none;
    margin-left: 85px;
  }